$mobile-width-only: 320px;
$desktop-width: 1025px;

:root {
  --basic-white: #ffffff;
  --smoky-white:#f0f0f0;
  --gray-light: #ebebeb;
  --pearlescent-light-gray:#999999;
  --black-and-brown:#202020;
  --almost-black:#101010;
  --deep-coral: #ff4b41;
  --carmine-pink: #e9473e;
}
