.btn-burger{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
