.btn-burger{
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
