.nav{
  display: grid;
  grid-template-columns: 89px 60px 60px 1fr;
  align-items: center;
  justify-items: center;
  box-shadow: 0 0 0 1px var(--gray-light),
              0 0 0 -1px var(--gray-light);

  .header__special{
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .header__logo{
    grid-area: 2/1;
  }

  .nav__btn{
    grid-area: 2/2;
    box-shadow: 1px 0 0 0 var(--gray-light);
  }

  .nav__search{
    grid-area: 2/3;
    box-shadow: 1px 0 0 0 var(--gray-light);
  }

  .nav__user-list{
    grid-area: 2/4;
  }
}

.nav__list{
  @include list-reset;
}

.nav__list--is-close{
  .nav__list{
    display: none;
  }

  .nav__btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 -7px 0 0 #000000, 0 7px 0 0 #000000;
  }
}

.nav__list--is-open{
    .nav__list {
    background-color: var(--basic-white);
    grid-column: 1 / 4;
    position: absolute;
    top: 103px;
    width: 100%;
    z-index: 1;
  }

  .nav__btn {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: var(--basic-white);
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    background-color: var(--deep-coral);
  }
}
