.special{
  @include link-reset;
  text-transform: uppercase;
  color: var(--black-and-brown);
  display: flex;
  column-gap: 12px;
  padding-inline: 10px;
  padding-block: 15px;

  .special__discount{
    color: var(--carmine-pink);
  }
}
