.special{
  @include link-reset;
  text-transform: uppercase;
  color: var(--black-and-brown);
  display: flex;
  column-gap: 12px;
  padding-inline-start: 10px;
  padding-inline-end: 90px;
  padding-block: 17px 13px;

  .special__discount{
    color: var(--carmine-pink);
  }
}
