.update-marker{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--deep-coral);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  z-index: 1;
  grid-area: 2/2;
}
